body{
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Bree Serif', serif;
    border: 1px solid black;
    box-shadow: 10px 10px 15px white;
}

.imagenprincipal{
    height: 500px;
    width: 80%;
    position: relative;
    right: -125px;
}

nav{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Itim', cursive;
}

.solapas{
    background-color: rgb(14, 187, 149);
    color: white;
    padding: 5px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

main{
    font-family: 'Itim', cursive;
}

.principal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjetas{
    max-width: 300px;
    border: 1px solid black;
    margin: 30px;
    background-color: white;
    padding: 10px;
}

.imagenobra1{
    height: 425px
}

.imagenobra2{
    height: 425px;
}

.imagenobra3{
    height: 425px;
}

.imagenobra4{
    height: 425px;
}

.imagenobra5{
    height: 425px;
}

.imagenobra6{
    height: 425px;
}

.imagenobra7{
    height: 425px;
}

.imagenobra8{
    height: 425px;
}

.imagenobra9{
    height: 425px;
}

section{
    font-family: 'Itim', cursive;
}

#experiencia{
    padding: 10px;
    max-width: 1300px;
    border: 5px solid black;
    box-shadow: 10px 10px 15px black;
}

#formacionacademica{
    padding: 10px;
    max-width: 1300px;
    border: 5px solid black;
    box-shadow: 10px 10px 15px black;
}

#massobremi{
    padding: 10px;
    max-width: 1300px;
    border: 5px solid black;
    box-shadow: 10px 10px 15px black;
}

.contactanos{
    position: sticky;
    bottom: 0px;
}

.contactos{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px black;
}